.table {
  height: calc(100vh - 250px);
  overflow: auto;

  .row {
    display: flex;
    background-color: #182325;
    color: #e8f5f4;

    &:not(.required-item):nth-child(2n+1) {
      background-color: #141d1f;

      > .cell > .required-item {
        background-color: #141d1f;
      }
    }

    > .cell {

      .trader-row {
        border-bottom: 2px solid #ecce6d;
        margin: 0 -48px;
        background-color: #5b8c85;
        text-align: left;
        padding-left: 48px;
        position: sticky;
        top: 0;

        img {
          width: 20px;
          margin: 0 4px;
          padding-top: 2px;
          position: relative;
          top: 1px;
        }

        .trader-name {
          font-size: 24px;
          font-family: 'Molot', monospace;
        }
      }

      .quest-label {
        font-size: 18px;
        text-align: left;
        display: inline-block;
        width: 100%;
      }
    }

    &.quest-row {
      margin: 0px -48px;
      margin-top: 4px;
      margin-bottom: 4px;

      > .cell {
        padding: 6px 0;
      }
    }

    > div {
      font-family: 'Candara', sans-serif;
      display: inline-block;
      margin: 0 48px;
      text-align: center;
      width: 100%;

      a {
        color: #e8f5f4;
      }

      .required-item {
        height: 20px;
        display: list-item;
        text-align: left;
        margin-left: 16px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 14px;
        color: darken(#e8f5f4, 10%);
      }
    }
  }
}