.mat-dialog-content {

  .img-container {
    width: 30px;
  }

  img {
    max-width: 20px;
    max-height: 20px;
  }


  a {
    color: #333;
  }

  p.param {
    background-color: #ececec;
    width: 100%;

    &.sub-header {
      background-color: #ffffff;
      margin: 0;
    }
  }

  p.sub {
    margin: 0;
    padding: 6px 2px;

    &:nth-child(2n) {
      background-color: darken(#ececec, 5%);
    }

    em {
      font-weight: 600;
    }
  }

  p > span {
    font-size: 12px;
    opacity: 0.8;
    padding-left: 4px;
  }

  p.main {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 6px 2px;
    margin-bottom: 4px;
    font-size: 0.88rem;
  }

  .value-header {
    background-color: lighten(#182325, 1%);
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 2em;
    font-size: 16px;
    font-weight: 600;
    color: #e8f5f4;
    padding: 4px;

    &.value-0 {
      background-color: darken(#531616, 10%);
    }
    &.value-1 {
      background-color: darken(#972222, 10%);
    }
    &.value-2 {
      background-color: darken(#C46633, 10%);
    }
    &.value-3 {
      background-color: darken(#C4A933, 10%);
    }
    &.value-4 {
      background-color: darken(#B7C433, 10%);
    }
    &.value-5 {
      background-color: darken(#A8C81C, 10%);
    }
    &.value-6 {
      background-color: darken(#589B20, 10%);
    }
  }

}