.app-container {
  border-top: 14px solid #5b8c85;

  .title {
    text-transform: uppercase;
    font-family: 'Candara', sans-serif;
    padding-left: 32px;
    background-color: #182325;
    border-bottom: 2px solid #ecce6d;

    h1 {
      font-family: 'Molot', monospace;
      padding-top: 32px;
      color: #e8f5f4;
      font-size: 38px;
      font-weight: 400;
    }

    img {
      width: 26px;
    }

    .credits-info {
      opacity: 0.5;
      margin-left: calc(100vw - 720px);
      font-size: 12px;
      position: absolute;
      top: 12px;
      color: darken(#e8f5f4, 10%);
      a {
        color: darken(#e8f5f4, 5%);
      }
    }
  }

  .master-controls {
    margin-left: 32px;
    height: 90px;
    position: relative;

    .clear-input {
      color: darken(#e8f5f4, 10%);
      cursor: pointer;
      font-size: 16px;
    }

    .info {
      position: absolute;
      bottom: 2px;
      color: darken(#e8f5f4, 10%);
      p {
        margin: 0;
        font-size: 12px;
      }
    }
  }

  .tab-controls {
    background-color: #182325;
    padding-top: 12px;
    border-bottom: 4px solid #5b8c85;
    position: relative;
    overflow: hidden;

    .tab-handle {
      color: #3e3c3c;
      background-image: url('/assets/tab.svg');
      transition: transform 0.5s;
      transform: translateY(5px);
      filter: saturate(0.5);
      position: relative;

      &.active {
        transform: translateY(0);
        filter: saturate(1);
        z-index: 10;
      }

      &.flip {
        background-image: url('/assets/tab-flip.svg');
        position: absolute;
        right: 0;
      }

      &:nth-child(n+2) {
        margin-left: -32px;
      }

      background-repeat: no-repeat;
      background-size: cover;
      height: 32px;
      display: inline-block;
      padding-left: 6px;
      padding-right: 44px;
      text-align: left;
      cursor: pointer;

      > span {
        font-family: 'Molot', monospace;
        font-size: 20px;
        padding: 4px 32px;
        line-height: 1.5em;
      }
      .results-info {
        position: absolute;
        right: 48px;
        font-size: 14px;
      }
    }
  }

  .view-container {
    background-color: #333;
    margin-top: -12px;
    padding-top: 12px;
    height: calc(100vh - 236px);
  }
}

