<div class="app-container">
  <div class="title">
    <h1>
      <img src="assets/logo.svg" alt="tarkov item hub logo">arkov Item Hub
    </h1>
    <span class="credits-info">
      Created using data from <a href="https://eft-loot.com/">eft-loot.com</a>
      and <a href="https://escapefromtarkov.gamepedia.com/">The Official Escape from Tarkov Wiki</a> under
      <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> license
    </span>

    <span class="about-handle" (click)="showAboutInfoDialog()">ABOUT</span>
  </div>

  <div class="master-controls">
    <mat-form-field class="example-full-width">
      <mat-label>Filter by item name</mat-label>
      <input matInput placeholder="Ex. tape" [(ngModel)]="searchTerm" (keyup)="searchTermChanged()">
    </mat-form-field>
    <span class="clear-input" *ngIf="searchTerm.length" (click)="clearSearchTerm()">╳</span>

    <div class="info">
      <p *ngIf="searchTerm && searchTerm.length >= MIN_SEARCH_TERM_LENGTH">Items matching criteria found in {{fullFilteredData ? fullFilteredData.length : 0}} barter
        {{ filteredData && filteredData.length === 1 ? 'trade' : 'trades' }},
        {{filteredHideoutLevels.length}} hideout {{filteredHideoutLevels.length === 1 ? 'module' : 'modules'}} and
        {{filteredQuestItems.length}} {{filteredQuestItems.length === 1 ? 'quest' : 'quests'}}</p>
        <p *ngIf="searchTerm.length === 0">No criteria specified, showing all items</p>
    </div>
  </div>

  <div class="tab-controls">
    <div class="tab-handle" *ngFor="let tab of TABS" [ngClass]="{ active: activeTab === tab.id, flip: tab.flip }" (click)="activateTab(tab.id)">
      <span>{{tab.name}}
        <span *ngIf="tab.id !== 'ammo' && searchTerm.length >= MIN_SEARCH_TERM_LENGTH && activeTab !== tab.id" class="results-info">
          ({{getTabContentAmount(tab.id)}})
        </span>
      </span>
    </div>
  </div>

  <div class="view-container">
    <div class="barter-view" *ngIf="activeTab === 'barter-deals'">
      <app-barter-view
        [fullFilteredData]="fullFilteredData"
        [filteredData]="filteredData"
        [amountLock]="amountLock"
        [config]="barterConfig"
        (configChanged)="onConfigChanged($event)"
        (amountLockChanged)="onAmountLockChanged($event)"
      ></app-barter-view>
    </div>

    <div class="hideout-view" *ngIf="activeTab === 'hideout-modules'">
      <app-hideout-view [hideoutData]="filteredHideoutData"></app-hideout-view>
    </div>
    <div class="quests-view" *ngIf="activeTab === 'quests'">
      <app-quests-view [questsData]="filteredQuestsData"></app-quests-view>
    </div>
    <div class="ammo-view" *ngIf="activeTab === 'ammo'">
      <app-ammo-view [ammoData]="filteredAmmoData"></app-ammo-view>
    </div>
  </div>





<router-outlet></router-outlet>
