<h1 mat-dialog-title>About</h1>
<div mat-dialog-content>
  <div class="credits">
    <h3>This project would not be possible without great work like:</h3>
    <p><a href="https://eft-loot.com/">eft-loot.com</a> - <a href="https://www.buymeacoff.ee/zihmygQ">support</a></p>
    <p><a href="https://escapefromtarkov.gamepedia.com/Escape_from_Tarkov_Wiki">The Official Escape from Tarkov Wiki</a>
    <p>ammo data sheet by <a href="https://www.twitch.tv/nofoodaftermidnight">NoFoodAfterMidnight</a>
    <p><a href="https://www.dafont.com/molot.font">Molot font</a> by <a href="https://www.dafont.com/jovanny-lemonad.d1907">Jovanny Lemonad</a>

  </div>

  <div class="footer">If you want to contact me, please write me an email: voytidev+tarkov.item@gmail.com</div>
  <div class="footer">If you want to support me, <a href="https://buymeacoff.ee/voyti">here's how</a></div>


</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Ok</button>
</div>



