<h1 mat-dialog-title>About</h1>
<div mat-dialog-content>
  <div class="credits">
    <h3>This project would not be possible without great work like:</h3>
    <p><a href="https://eft-loot.com/">eft-loot.com</a> - <a href="https://www.buymeacoff.ee/zihmygQ">support</a></p>
    <p><a href="https://escapefromtarkov.gamepedia.com/Escape_from_Tarkov_Wiki">The Official Escape from Tarkov Wiki</a>
    <p>ammo data sheet by <a href="https://www.twitch.tv/nofoodaftermidnight">NoFoodAfterMidnight</a>
    <p><a href="https://www.dafont.com/molot.font">Molot font</a> by <a href="https://www.dafont.com/jovanny-lemonad.d1907">Jovanny Lemonad</a>

  </div>

  <div class="footer">If you want to contact me, please write me an email: voytidev+tarkov.item@gmail.com</div>
  <div class="footer">If you want to support me, <a href="https://buymeacoff.ee/voyti">here's how</a></div>
  <p>----------</p>
  <h5>Changelog</h5>
  <p class="footer">v1.21 (25.05.20) Fixed antique teapot/vase for zhuk barter (thanks u/airy52), added info to water collector 3 about water filter, fixed 7.62x39 ammo icons(2x thanks u/Frenzy175)</p>
  <p class="footer">v1.2 (24.05.20) Added crafting info to hideout view, allowed to expand "used in" info on mobiles on ammo view, style improvements</p>
  <p class="footer">v1.1 (20.05.20) Added a section on the barter view to list eft-loot item prices for matching items with no barter data,
    styling improvements, replaced unicode with wider covered symbols, emphasize barter disclaimer, added info when profitability is not reliably set, forced
    these results to the end of the list, add imgs to all listed items in barter and hideout views</p>

</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Ok</button>
</div>



