@import "./reset.scss";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tarkovItemHub-primary: mat-palette($mat-indigo);
$tarkovItemHub-accent: mat-palette($mat-teal, 800, A100, A400);

// The warn palette is optional (defaults to red).
$tarkovItemHub-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tarkovItemHub-theme: mat-light-theme($tarkovItemHub-primary, $tarkovItemHub-accent, $tarkovItemHub-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tarkovItemHub-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Molot;
  src: url("assets/Molot.woff") format("opentype");
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #434e52;
}

.no-results-info {
  text-transform: uppercase;
  margin-top: 48px;
  text-align: center;
  font-size: 48px;
  font-family: "Molot", monospace;
  opacity: 0.5;
}

// mat styles
.mat-input-element {
  caret-color: #c6cbe6;

  input::placeholder {
    color: #c6cbe6;
  }
}
.mat-form-field-label, .mat-form-field-infix {
  > mat-label {
    color: white;
  }
}

.mat-form-field-infix {
  color: white;
  font-size: 20px;
  width: 300px !important;
}

#bmc-wbtn {
  // background: #5b8c85 !important;
  top: 32px !important;
  right: 36px !important;
  transform: scale(0.8) !important;
}

iframe{
  top: 90px;
  right: 46px;
}

body > div[style]:not(#bmc-wbtn) {
  bottom: calc(100vh - 80px) !important;
  // opacity: 0.5 !important;
  color: #3e3c3c!important;
  height: 22px;
  padding: 4px !important;
  font-weight: 600;
}